.list {
    text-align: center;
}

.project {
    display: inline-block;
    border-style: solid;
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 25px;
    background-color: lightgrey;
    text-align: center;
    width: 700px;
    margin-right: 25px;
}

.project h3 {
    font-size: 30px;
    text-align: center;
}

.project a {
    border-style: solid;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    margin: 5px;
    /* display: flex; */
    background-color: #A1B0AF;
    text-align: center;
}

.project a:hover {
    background-color: #0BB2DC;
    color: black;
}

.project ul {
    font-size: 15px;
    text-align: left;

}
.project li {
    margin-bottom: 5px;
    font-size: 18px;
}

.project img {
    border-style: solid;
    border-radius: 10px;
}

.project .dropdown {
    position: relative;
    display: inline-block;
}

.project .content {
    display: none;
    text-align: left;
    font-size: 20px;
}

.btn {
    background-color: #A1B0AF;
    padding: 12px;
    font-size: 16px;
    border: solid;
    /* border-radius: 20px; */
    margin-top: 15px;
    font-size: 18px;
  }

  .btn:hover {
    background-color: #0BB2DC;
  }

.dropdown:hover .content {display: block;}